.field {
  display: block;
  margin-bottom: 10px;
}

.inline {
  display: inline-block;
}

.inlineYN {
  display: inline-block;
  /* margin-bottom: 10px; */
}

.fieldset {
  margin-bottom: 20px;
}

.lastOne {
  margin-bottom: 0;
}
